* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 15px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
header {
  background: #202020;
  padding: 13px 0;
}
header .burger {
  background: #292929;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 35px;
  min-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .burger .rect {
  min-width: 17px;
  max-width: 50%;
  height: 1px;
  background: #fff;
  margin-bottom: 2px;
}
.call {
  background: #171718;
  background-image: url(../img/mobile-background-block-one.png);
  background-size: cover;
  padding: 29px 0 15px;
}
.call .e-commerce {
  color: #ff834e;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
.call h2 {
  color: #fff;
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  padding: 10px 0 24px;
}
.call button {
  background: #ff834e;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
}
.call button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  background: #de774b;
  background-image: url(../img/svg/Union.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.call p {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.work {
  padding: 40px 0 30px;
}
.work h2 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
.work .items {
  position: relative;
}
.work .items::before {
  content: '';
  background: url(../img/svg/Vector.svg);
  position: absolute;
  top: 21px;
  bottom: 15px;
  left: -12px;
  width: 6px;
}
.work .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 14px 0;
}
.work .item:last-child {
  border-bottom: none;
}
.work .item__number {
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
}
.work .item__p {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work .item__btn {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work .item-active .item__number {
  color: #ff834e;
}
.work .item-active .item__p {
  text-transform: capitalize;
}
.pay {
  background-color: #171718;
  background-image: url(../img/mobile-background-block-two.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 0 5px;
  color: #fff;
}
.pay__circle {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  margin: 30px auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pay__circle img {
  padding-bottom: 10px;
}
.pay__img {
  text-align: center;
  padding-top: 40px;
}
.pay h2 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
}
.pay p {
  font-size: 12px;
  line-height: 19px;
  font-weight: 300;
  text-align: center;
  padding: 20px 0 40px;
}
.pay .line {
  position: relative;
}
.pay .line::after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  height: 2px;
  bottom: 0;
  left: 50px;
  right: 50px;
}
.cases {
  background-color: #171718;
  background-image: url(../img/mobile-background-block-three.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 40px;
  color: #fff;
}
.cases h2 {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
}
.cases .case {
  background: #1E1E1F;
  border-radius: 3px;
  margin: 30px 0 40px;
  padding: 15px 25px;
}
.cases .case__img {
  margin: 0 auto;
}
.cases .case__img img {
  width: 100%;
}
.cases .case h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 10px;
}
.cases .case p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}
.cases .dialog {
  background: linear-gradient(156.01deg, #8d5dcc -128.51%, #55329e 221.38%);
  -webkit-box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
          box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
  position: relative;
}
.cases .dialog img {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}
.cases .dialog h4 {
  font-size: 11px;
  line-height: 13px;
  font-weight: 600;
}
